* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/* CONTENUTO HEADER */

header {

    background-color: rgb(174, 231, 235);
    height: 60px;
}

a {
    text-decoration: none;

}

#title {
    color: rgb(52, 106, 223);
    font-weight: 600;

}

/* CONTENUTO MAIN */

.section_textMain {
    text-align: center;
    margin: 20px;

}

h2 {
    font-size: 30px;
    color: rgb(52, 106, 223);

}

.evidence {
    font-size: 30px;
    color: rgb(4, 163, 255);
    font-weight: 900;
}

/* sezione list Card in Home Page */
.section_listaCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;




}



/* sezione listato dei film */

.title_movie {
    text-align: center;
    margin-top: 5px;
    color: rgb(240, 13, 202);
    font-size: 25px;
}

.container_singleCard {
    width: 30%;
    margin: 10px;
    border: 2px solid rgb(71, 37, 221);
}

img {
    width: 100%;
    padding: 20px;
}

.autor {
    margin-left: 20px;
}

.container_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}

.details_movie {
    margin-top: 5px;
    padding: 5px;
    color: rgb(53, 7, 126);
    border: 2px solid black;
    background-color: rgb(201, 162, 233);
    ;

}


/* SEZIONE DETTAGLIO */
.container_singleDetail {
    display: flex;
    justify-content: start;
    margin: 10px;

}

.img_detail {
    width: 20%;
}

.container_textDetail {
    margin-top: 10px;
    padding: 10px;
}


/* SEZIONE RECENSIONI */
.review {
    margin: 20px;
    font-size: 20px;
}

.container_textReview {
    margin: 15px;
}

.container_singleReview {

    margin: 10px;
    border: 2px solid rgb(71, 37, 221);
}